/* FONTS  */

/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}


/* HEADER  */

.header {
    
}



.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 24px;
}

.header__link {
    
}

.header__link-logo {
    
}

.header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 56px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    
}

.header__item-link {
    padding-right: 24px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.header__item:first-child .header__item-link {
    padding-right: 24px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}


.header__btn-warapper {
    
}

.header__btn {
    padding: 10px 22px ;
    transition: all 0.4s ease;
    border-radius: 4px;
    background: rgb(2, 137, 122);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    
}

.header__btn:hover {
    background: rgb(71, 94, 105);
    transform: scale(1.1);
}

.header__btn:active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}


.header__btn:nth-child(1) {
    margin-right: 24px;
    padding: 10px 22px ;
    transition: all 0.4s ease;
    border: 1px solid rgb(188, 208, 229);
    border-radius: 4px;
    background-color: #fff;
    color: rgb(23, 58, 86);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    
}


.header__btn:nth-child(1):hover {
    transform: scale(1.1);
}

.header__btn:nth-child(1):active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}


.header__btn-warapper::after {
    content: url(../img/header__after-img.svg);
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    left: 24px;
    top: 9px;
}

/* WORK  */

.main {
    
}

.work {
    
}

.work__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 114px;
}

.work__item-wrapper {
    max-width: 458px;
}

.work__header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left; 
}

.work__text {
    margin-top: 18px;
    margin-bottom: 45px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}


.work__link-img {
    margin-right: 8px;
}


.work__btn {
    padding: 15px 41px ;
    margin-right: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    background: rgb(2, 137, 122);
    transition: all 0.4s ease;
}

.work__btn:hover {
    background: rgb(71, 94, 105);
    transform: scale(1.1);
}

.work__btn:active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}

.work__link {
    color: rgb(2, 137, 122);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: underline;
}

.work__img {
    
}


/* PRODUCT   */

.product {
    background: linear-gradient(180.00deg, rgb(237, 237, 237) 0.608%,rgba(255, 255, 255, 0) 82.092%);
}

.product__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.product__header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    max-width: 530px;
}

.product__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 66px;
    margin-bottom: 60px;
    
}



.product__item {
    margin-right: 46px;
    max-width: 240px;
    
    transition: all 0.5s ease;
}


.product__item:hover {
    transform: scale(1.1);
}

.product__item:active {
    border-radius: 5px;
    transform: scale(1.3);
} 

.product__list .product__item:last-child {
    margin-right: 0px;
}

.product__img {
    width: 50px;
    height: 50px;
}

.product__item-info {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 13px;
    
}

.product__text {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.product__btn {
    padding: 15px 41px ;
    margin-right: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    background: rgb(2, 137, 122);
    transition: all 0.4s ease;
}

.product__btn:hover {
    background: rgb(71, 94, 105);
    transform: scale(1.1);
}

.product__btn:active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}


/* BIG  */


.big {
    
}

.big__wrapper {
    
    padding: 150px 0px;
    
}

.big__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    
}

.big__wrapper .big__info-wrapper:nth-child(2) {
    margin: 150px 0px ;
}

.big__item-wrapper {
    max-width: 480px;
    
}

.big__span {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left; 
}

.big__info-wrapper:first-child  .big__header{
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 131px;
}

.big__header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 23px;
}



.big__info {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.big__text {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.big__item-wrapper:nth-child(1) .big__text {
    margin-top: 12px ;
    margin-bottom: 25px;
}

.big__img {
    
}

.big__list {
    margin-top: 30px;
}

.big__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
}

.big__item-img {
    margin-right: 30px;
}

.big__item-text {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 365px;
}

/* QUICK  */

.quick {
    background: linear-gradient(180.00deg, rgb(237, 237, 237) 0.608%,rgba(255, 255, 255, 0) 82.092%);
}

.quick__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.quick__header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    
}

.quick__text {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    max-width: 538px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.quick__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.quick__list .quick__item:first-child  {
    margin-right: 178px;
}

.quick__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick__item-img {
    padding: 16px;
}

.quick__masage-text {
    padding: 15px 30px;
    border-radius: 26.5px;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
    background-color: rgb(255, 255, 255);
}

.quick__btn {
    padding: 15px 41px ;
    margin-right: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    background: rgb(2, 137, 122);
    transition: all 0.4s ease;
}

.quick__btn:hover {
    background: rgb(71, 94, 105);
    transform: scale(1.1);
}

.quick__btn:active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}


/* CONTENT  */


.content {
    
}

.content__wrapper {
    padding-bottom: 80px;
}

.content__header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
}

.content__text {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 33px;
}

.content__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__item {
    max-width: 348px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: black 0px 0px 1px 0px;
}

.content__img {
    
}

.content__info {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 12px;
    padding-left: 24px;
}

.content__span {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.content__item-header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0px 30px 40px 24px;
}


/* PRICE  */

.price {
    
}

.price__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 113px;
    padding-bottom: 150px;
}

.price__header {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
}

.price__text {
    margin-top: 8px;
    margin-bottom: 50px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.price__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    width: 100%;
}

.price__item {
    padding: 24px 73px 32px 75px ;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.price__list .price__item:nth-child(2) {
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(2, 137, 122);
}


.price__info {
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.price__list .price__item:nth-child(2) .price__info {
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.price__item-text {
    margin-top: 8px;
    margin-bottom: 16px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.price__list .price__item:nth-child(2) .price__item-text {
    margin-top: 8px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    
}

.price__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__price-span {
    color: rgb(2, 137, 122);
    font-family: 'Poppins';
    font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-right: 8px;
}

.price__list .price__item:nth-child(2) .price__price-span {
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.2px;
    text-align: center;
}


.price__img-wrapper {
    
}

.price__img {
    display: block;
}

.price__img-span {
    color: rgb(175, 175, 175);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1px;
    text-align: left;
}

.price__list .price__item:nth-child(2) .price__img-span {
    color: rgb(224, 224, 224);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1px;
    text-align: left;
}

.price__item-list {
    margin-top: 16px;
    margin-bottom: 38px; 
    
}

.price__item-item {
    
}

.price__item-link {
    
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: left;
}

.price__list .price__item:nth-child(2) .price__item-link {
    
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: left;
} 

.price__btn {
    border-radius: 8px;
    padding: 11px 19px ;
    background: rgb(2, 137, 122);
    border: none;
    color: rgb(255, 255, 255);
    transition: all 0.4s ease;
}


.price__btn:hover {
    background: rgb(71, 94, 105);
    transform: scale(1.1);
}

.price__btn:active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}

.price__list .price__item:nth-child(2) .price__btn {
    border-radius: 8px;
    padding: 11px 19px ;
    background-color: rgb(255, 255, 255);
    color:  rgb(2, 137, 122) ;
    border: none;
}


/* SAY */


.say {
    
}

.design__wrapper {
    
}

.design__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.design__text {
    
}

.design__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design__item {
    
}

.design__img {
    
}

.design__item-text {
    
}

.design__item-img-wrapper {
    
}

.design__item-img {
    
}

.design__item-span {
    
}