/* FONTS  */

/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}


/* HEADER  */

.header {
    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 24px;
}

.header__link {
    
}

.header__link-logo {
    
}

.header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 56px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    
}

.header__item-link {
    padding-right: 24px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.header__item:first-child .header__item-link {
    padding-right: 24px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}


.header__btn-warapper {
    
}

.header__btn {
    padding: 10px 22px ;
    transition: all 0.4s ease;
    border-radius: 4px;
    background: rgb(2, 137, 122);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    
}

.header__btn:hover {
    background: rgb(71, 94, 105);
    transform: scale(1.1);
}

.header__btn:active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}


.header__btn:nth-child(1) {
    margin-right: 24px;
    padding: 10px 22px ;
    transition: all 0.4s ease;
    border: 1px solid rgb(188, 208, 229);
    border-radius: 4px;
    background-color: #fff;
    color: rgb(23, 58, 86);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    
}


.header__btn:nth-child(1):hover {
    transform: scale(1.1);
}

.header__btn:nth-child(1):active {
    background: rgb(228, 233, 243);
    transform: scale(1.3);
}


.header__btn-warapper::after {
    content: url(../img/header__after-img.svg);
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    left: 24px;
    top: 9px;
}