/* HEADER  */


.header {
    
}

.container {
    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0px;
}

.header__link {
    
}

.header__logo {
    
}

.header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    padding-right: 24px;
    color: rgb(34, 52, 61);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.header__item-link {
    color: inherit;
}

.header__btn-warapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    padding: 10px 22px ;
    transition: all 0.4s ease;
    border-radius: 4px;
    background: rgb(2, 137, 122);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    margin-right: 24px;
    &:hover {
        background: rgb(71, 94, 105);
        transform: scale(1.1);
        
    }
    &:active {
        background: rgb(228, 233, 243);
        transform: scale(1.3);
    }
    &:nth-child(1) {
        margin-right: 24px;
        padding: 10px 22px ;
        transition: all 0.4s ease;
        border: 1px solid rgb(188, 208, 229);
        border-radius: 4px;
        background-color: #fff;
        color: rgb(23, 58, 86);
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            background: rgb(228, 233, 243);
            transform: scale(1.3);
        }
    }
    
}


.header__btn-img {
    border: none;
    background-color: #fff;
}

.header__bureger {
    display: none;
}


.header__bureger-img {
    display: none;
}

@media only screen and (max-width: 769px) {
      
    .container {
        max-width: 769px;
    }

    
    .header {
        
    }
    
    .container {
        
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0px;
    }
    
    .header__link {
        
    }
    
    .header__logo {
        
    }
    
    .header__nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__item {
        padding-right: 14px;
        color: rgb(34, 52, 61);
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
    }
    
    .header__item-link {
        color: inherit;
    }
    
    .header__btn-warapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__btn {
        padding: 5px 18px ;
        transition: all 0.4s ease;
        border-radius: 4px;
        background: rgb(2, 137, 122);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        margin-right: 24px;
        &:hover {
            background: rgb(71, 94, 105);
            transform: scale(1.1);
            
        }
        &:active {
            background: rgb(228, 233, 243);
            transform: scale(1.3);
        }
        &:nth-child(1) {
            margin-right: 24px;
            padding: 5px 18px ;
            transition: all 0.4s ease;
            border: 1px solid rgb(188, 208, 229);
            border-radius: 4px;
            background-color: #fff;
            color: rgb(23, 58, 86);
            font-family: 'Poppins';
            font-size: 10px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                background: rgb(228, 233, 243);
                transform: scale(1.3);
            }
        }
        
    }
    
    
    .header__btn-img {
        border: none;
        background-color: #fff;
    }
    
    
    .header__bureger {
        display: none;
    }
    
    
    .header__bureger-img {
        display: none;
    }
}


@media only screen and (max-width: 931px) {
    
    
    .header {
        
    }
    
    .container {
        
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0px;
    }
    
    .header__link {
        
    }
    
    .header__logo {
        
    }
    
    .header__nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__item {
        padding-right: 14px;
        color: rgb(34, 52, 61);
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
    }
    
    .header__item-link {
        color: inherit;
    }
    
    .header__btn-warapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__btn {
        padding: 5px 18px ;
        transition: all 0.4s ease;
        border-radius: 4px;
        background: rgb(2, 137, 122);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        margin-right: 24px;
        &:hover {
            background: rgb(71, 94, 105);
            transform: scale(1.1);
            
        }
        &:active {
            background: rgb(228, 233, 243);
            transform: scale(1.3);
        }
        &:nth-child(1) {
            margin-right: 24px;
            padding: 5px 18px ;
            transition: all 0.4s ease;
            border: 1px solid rgb(188, 208, 229);
            border-radius: 4px;
            background-color: #fff;
            color: rgb(23, 58, 86);
            font-family: 'Poppins';
            font-size: 10px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                background: rgb(228, 233, 243);
                transform: scale(1.3);
            }
        }
        
    }
    
    
    .header__btn-img {
        border: none;
        background-color: #fff;
    }
    
    
    .header__bureger {
        display: none;
    }
    
    
    .header__bureger-img {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    
    
    .header {
        
    }
    
    .container {
        
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0px;
    }
    
    .header__link {
        
    }
    
    .header__logo {
        
    }
    
    .header__nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__item {
        display: none;
    }
    
    .header__item-link {
        color: inherit;
    }
    
    .header__btn-warapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }
    
    .header__btn {
        padding: 5px 18px ;
        transition: all 0.4s ease;
        border-radius: 4px;
        background: rgb(2, 137, 122);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        margin-right: 24px;
        &:hover {
            background: rgb(71, 94, 105);
            transform: scale(1.1);
            
        }
        &:active {
            background: rgb(228, 233, 243);
            transform: scale(1.3);
        }
        &:nth-child(1) {
            margin-right: 24px;
            padding: 5px 18px ;
            transition: all 0.4s ease;
            border: 1px solid rgb(188, 208, 229);
            border-radius: 4px;
            background-color: #fff;
            color: rgb(23, 58, 86);
            font-family: 'Poppins';
            font-size: 10px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                background: rgb(228, 233, 243);
                transform: scale(1.3);
            }
        }
        
    }
    
    
    .header__btn-img {
        border: none;
        display: block;
        background-color: #fff;
    }
    
    
    .header__bureger {
        display: block;
        border: none;
        background-color: #fff;
    }
    
    
    .header__bureger-img {
        display: block;
        border: none;
        background-color: #fff;
    }
}



@media only screen and (max-width: 426px) {

    
    .container {
        max-width: 426px;
    }
    
    .header {
        
    }
    
    .container {
        
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0px;
    }
    
    .header__link {
        
    }
    
    .header__logo {
        
    }
    
    .header__nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__item {
       display: none;
    }
    
    .header__item-link {
        color: inherit;
    }
    
    .header__btn-warapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }
    
    .header__btn {
        padding: 5px 18px ;
        transition: all 0.4s ease;
        border-radius: 4px;
        background: rgb(2, 137, 122);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        margin-right: 24px;
        &:hover {
            background: rgb(71, 94, 105);
            transform: scale(1.1);
            
        }
        &:active {
            background: rgb(228, 233, 243);
            transform: scale(1.3);
        }
        &:nth-child(1) {
            margin-right: 24px;
            padding: 5px 18px ;
            transition: all 0.4s ease;
            border: 1px solid rgb(188, 208, 229);
            border-radius: 4px;
            background-color: #fff;
            color: rgb(23, 58, 86);
            font-family: 'Poppins';
            font-size: 10px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                background: rgb(228, 233, 243);
                transform: scale(1.3);
            }
        }
        
    }
    
    
    .header__btn-img {
        border: none;
        background-color: #fff;
    }
    
    .header__bureger {
        display: block;
        border: none;
        background-color: #fff;
    }
    
    
    .header__bureger-img {
        display: block;
        border: none;
        background-color: #fff;
    }
}